    <div style="color: #fff">Deck ID: <span style="font-weight: bold">{{deck_Id}}</span></div>
    <button style="border-radius: 3px; outline: none; border: none" onClick="newDeck()">New Deck</button>
    <div
        style="color: #fff; font-size: 24px"
        class="d-flex justify-content-center mt-4 title"
    >
        <span id="dice" class="me-2"><i class="bi bi-dice-1"></i></span>
        <span class="title">ONE CARD POKER</span>
    </div>
    <div class="d-flex justify-content-center mt-2">
        <div class="deck-table d-flex flex-column justify-content-center align-items-center">
        
            <div>
                <div class="deck-table__player-1">
                    <div class="deck-table__header">
                        <i class="bi bi-person"></i>
                        Player 1
                        <div>
                            {{#with card1}}
                            <input type="hidden" name="value-card-1" value="{{value}}">
                            {{/with}}
                            CHIP: <span id="chip-value-1">5000</span>
                            <i style="color:yellow" class="bi bi-coin"></i>
                        </div>
                    </div>
                    <span class="card-holder" id="card1">
                        {{#if shuffle}}
                        {{else}}
                            <img
                                style="border-radius: 5px"
                                src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/23/The_Jolly_Nero.jpg/1200px-The_Jolly_Nero.jpg"
                                alt="joker"
                            />
                        {{/if}}
                    </span>
                </div>
                <div class="deck-table__player-2">
                    <div class="deck-table__header">
                        <i class="bi bi-person"></i>
                        Player 2
                        <div>
                            {{#with card2}}
                            <input type="hidden" name="value-card-2" value="{{value}}">
                            {{/with}}
                            CHIP: <span id="chip-value-2">5000</span>
                            <i style="color: yellow" class="bi bi-coin"></i>
                        </div>
                    </div>
                    <span class="card-holder" id="card2">
                        {{#if shuffle}}
                        {{else}}
                            <img
                                style="border-radius: 5px"
                                src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/23/The_Jolly_Nero.jpg/1200px-The_Jolly_Nero.jpg"
                                alt="joker"
                            />
                        {{/if}}    
                    </span>
                </div>
            </div>
            <div class="d-flex justify-content-center w-100 deck-cards">
                DECK CARDS {{remaining}}
            </div>
            <div class="deck-table__button">
                <button
                    class="deck-table__button-shuffle mt-4 mb-4"
                    onClick="shuffle()"
                >
                    SHUFFLE
                </button>
                <button
                    class="deck-table__button-draw mt-4 mb-4"
                    onClick="draw()"
                >
                    DRAW
                </button>
                <button
                    class="deck-table__button-reveal mt-4 mb-4"
                    {{#if shuffle}}
                        onclick="alert('Opps, You need to DRAW first')"
                    {{else}}
                        onClick="play()"
                    {{/if}}
                >
                    REVEAL
                </button>
                <button
                    class="deck-table__button-reset mt-4 mb-4"
                    onClick="shuffle()"
                >
                    RESET
                </button>
                <div>
                </div>
            </div>
        </div>
    </div>
    <div>
        {{#with card1}}
            <input type="hidden" name="img-1" value="{{img}}">
        {{/with}}
        {{#with card2}}
            <input type="hidden" name="img-2" value="{{img}}">
        {{/with}}
    </div>
{{!-- Hidden FORM --}}
<form method="GET" action="/api/{{deck_Id}}/shuffle/"></form>

<script>
    const form = document.forms[0]
    const animationDice = document.querySelector('#dice').firstChild
    const chipPlayer1 = document.querySelector('#chip-value-1')
    const chipPlayer2 = document.querySelector('#chip-value-2')
    const cardValue1 = document.querySelector('input[name="value-card-1"]').value
    const cardValue2 = document.querySelector('input[name="value-card-2"]').value
    const cardImg1 = document.querySelector('input[name="img-1"]').value
    const cardImg2 = document.querySelector('input[name="img-2"]').value

    setInterval( () => {
        animationDice.classList.toggle('bi-dice-2')
        setTimeout(() => {
            animationDice.classList.toggle('bi-dice-3')
            setTimeout(() => {
                animationDice.classList.toggle('bi-dice-4')
            },500)
        },500)
        
    }, 1200)

    function newDeck() {
        form.action = '/api/new/shuffle/'
        form.submit()
    }

    function shuffle() {
        form.submit()
    }

    function draw() {
        form.action =`/api/{{deck_Id}}/draw/`
        form.submit()
    }

    function play() {
        // create new image element
        var img1 = document.createElement('img');
        var img2 = document.createElement('img');

        // set image source to be same as selected card
        img1.src = cardImg1
        img2.src = cardImg2

        // select cards holding elements
        var holder1 = document.getElementById('card1');
        var holder2 = document.getElementById('card2');

        // clear images from previous game
        holder1.innerHTML = "";
        holder2.innerHTML = "";

        // add images to it's holders
        holder1.appendChild(img1);
        holder2.appendChild(img2);

        // game logic. Compare array key to see who wins
        if(cardValue1 < cardValue2) {
            alert('Player 2 win')
        } else if(cardValue1 > cardValue2) {
            alert('Player 1 win')
        } else {
            alert('No one win')
        }

    }
    {{#if success}}
    {{else}}
    alert('Out of card, play again')
    form.submit()
    {{/if}}
</script>